*, *::after, *::before {
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.pagination_holder {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: flex-end;
}
.pagination_holder a {
  text-decoration: none;
  color: #161616;
}
.pagination_holder .page {
  padding: 5px 15px;
  background-color: #eee;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.pagination_holder .page.active {
  background-color: #161616;
  color: #fff;
  font-weight: bold;
}

.catalog_wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 40px 0;
  min-height: 100vh;
  position: relative;
}
.catalog_wrapper .top_bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.catalog_wrapper .top_bar .right {
  display: flex;
  align-items: center;
}
.catalog_wrapper .top_bar .right .noti {
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  margin-right: 40px;
}
.catalog_wrapper .top_bar .right .noti .red-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.catalog_wrapper .top_bar .right .noti .red-dot.show {
  opacity: 1;
  visibility: visible;
}
.catalog_wrapper .top_bar .right .noti .noti_list {
  min-width: 350px;
  position: absolute;
  background-color: #fff;
  right: 0;
  margin-top: 20px;
  height: 500px;
  max-height: 500px;
  border-radius: 15px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
  cursor: default;
  z-index: 500;
}
.catalog_wrapper .top_bar .right .noti .noti_list .no-noti {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(22, 22, 22, 0.4);
  transform: translate(-50%, -50%);
}
.catalog_wrapper .top_bar .right .noti .noti_list.show {
  opacity: 1;
  visibility: visible;
}
.catalog_wrapper .top_bar .right .noti .noti_list .noti_title {
  padding: 15px;
  font-weight: bold;
  background-color: #f8f8f8;
}
.catalog_wrapper .top_bar .right .noti .noti_list .noti_inner {
  overflow: auto;
  width: 100%;
  flex-grow: 1;
}
.catalog_wrapper .top_bar .right .noti .noti_list .noti_inner div {
  padding: 15px;
  border-bottom: 1px solid #eee;
  color: #161616;
  font-size: 15px;
}
.catalog_wrapper .main_title {
  color: #161616;
}
.catalog_wrapper .product_holder {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 2em;
       column-gap: 2em;
  row-gap: 2em;
}
.catalog_wrapper .product_holder .product {
  cursor: pointer;
}
.catalog_wrapper .product_holder .product:hover .product_img {
  transform: scale(1.05);
}
.catalog_wrapper .product_holder .product:hover .product_img .bulk_order_btn {
  opacity: 1;
  visibility: visible;
}
.catalog_wrapper .product_holder .product .product_img {
  background-color: #9AB3CE;
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  position: relative;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}
.catalog_wrapper .product_holder .product .product_img .product_overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}
.catalog_wrapper .product_holder .product .product_img .product_price {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: white;
  font-size: 14px;
  border-radius: 10px;
  color: #161616;
  font-weight: bold;
}
.catalog_wrapper .product_holder .product .product_img .bulk_order_btn {
  cursor: pointer;
  width: calc(100% - 20px);
  margin: 10px;
  position: absolute;
  bottom: 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #fff;
  color: #161616;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all ease-in-out;
}
.catalog_wrapper .product_holder .product .product_img .bulk_order_btn.show {
  opacity: 1;
  visibility: visible;
}
.catalog_wrapper .product_holder .product .product_title {
  text-align: center;
  margin-top: 10px;
  color: #161616;
}
.catalog_wrapper .order_btn {
  border-radius: 10px;
  border: none;
  padding: 10px 40px;
  background: #161616;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.catalog_wrapper .order_btn .counter {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #161616;
  border-radius: 100%;
  background-color: #fff;
  margin-left: 10px;
}
.catalog_wrapper .cart_holder {
  margin-top: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 40px;
}
.catalog_wrapper .cart_holder select {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
  border: 1px solid #bbb;
  border-radius: 10px;
}
.catalog_wrapper .cart_holder .empty {
  text-align: center;
  color: #161616;
}
.catalog_wrapper .cart_holder .empty h1 {
  margin-bottom: 20px;
}
.catalog_wrapper .cart_holder .empty a {
  color: #161616;
}
.catalog_wrapper .cart_holder h2 {
  margin-bottom: 20px;
  color: #161616;
}
.catalog_wrapper .cart_holder .flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.catalog_wrapper .cart_holder .cart-list {
  width: 100%;
}
.catalog_wrapper .cart_holder .cart {
  width: 100%;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
}
.catalog_wrapper .cart_holder .cart .right_holder {
  margin-left: 40px;
  flex-grow: 1;
}
.catalog_wrapper .cart_holder .cart .right_holder .inner_right {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.catalog_wrapper .cart_holder .cart .right_holder .inner_right .info .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog_wrapper .cart_holder .cart .right_holder .inner_right .info .top h3 {
  color: #161616;
}
.catalog_wrapper .cart_holder .cart .right_holder .inner_right .info .top a {
  color: #161616;
}
.catalog_wrapper .cart_holder .cart .right_holder .inner_right .info p {
  margin-top: 10px;
  color: #999;
}
.catalog_wrapper .cart_holder .cart .right_holder .inner_right .price {
  color: #161616;
  font-weight: bold;
}
.catalog_wrapper .cart_holder .cart .product_img {
  min-width: 150px;
  background: #ccc;
  background-position: center;
  background-size: cover;
  height: 150px;
  border-radius: 10px;
}
.catalog_wrapper .cart_holder .button_holder {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.catalog_wrapper .cart_holder .button_holder .submit-btn {
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background: #161616;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.catalog_wrapper .cart_holder .button_holder a {
  color: #161616;
}
.catalog_wrapper .order_table {
  width: 100%;
  border-collapse: collapse;
}
.catalog_wrapper .order_table th, .catalog_wrapper .order_table td {
  padding: 10px 15px;
  text-align: center;
}
.catalog_wrapper .order_table th {
  background-color: #F8F9FB;
  font-weight: bold;
}
.catalog_wrapper .order_table tr:nth-child(even) td {
  background-color: #F8F9FB;
}
